html,body{
    height: 100%;
}
*{
    margin:0;
    padding: 0;
}
.chess-container{
    border: 5px solid gray;
    border-collapse: collapse;
    background-image: url("../media/шахматная доска.png");
    background-size: cover;
    width: 50vw;
    height: 50vw;
    padding: 5.5vw;
    background-position-x: -0.1vw;
    background-position-y: -0.1vw;
}
.chess-board{
    border-collapse: collapse;
    height: inherit;
    width: inherit;
}
td{
    height: 12.5%;
    width: 12.5%;
    font-size: 5pt;
    text-align: center;
    /*border: 1px solid blue ;*/
}
td[title]{
    background-image: url("../media/153364.png");
    background-size: 600% 200%;
}
td[title="q"]{background-position-x: -100%;}
td[title="r"]{background-position-x: -80%;}
td[title="n"]{background-position-x: -60%;}
td[title="b"]{background-position-x: -40%;}
td[title="p"]{background-position-x: -20%;}
td[title="k"]{background-position-x: -0%;}
td[title="Q"]{background-position-x: -100%;background-position-y: -100%}
td[title="R"]{background-position-x: -80%;background-position-y: -100%}
td[title="N"]{background-position-x: -60%;background-position-y: -100%}
td[title="B"]{background-position-x: -40%;background-position-y: -100%}
td[title="P"]{background-position-x: -20%;background-position-y: -100%}
td[title="K"]{background-position-x: -0%;background-position-y: -100%}